<a href="/parties/<%=id%>" class="link">
  <div class="thumbnail">
    <img data-src="holder.js/400x200/text:<%= name %>">

    <div style="position:absolute;right:10px;top:10px;">
      <a href="/parties/<%=id%>/edit" class="link"><i class="icon-pencil"></i></a>
      <a href="/parties/<%=id%>/delete" class="destroy"><i class="icon-trash"></i></a>
    </div>
  </div>
</a>