<span class="form-horizontal">
  <fieldset>
    <legend>Activity</legend>

    <div class="control-group">
      <label class="control-label" for="name">Name</label>
      <div class="controls">
        <span class="show-field"><%= name %></span>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="duration">Duration</label>
      <div class="controls">
        <span class="show-field"><%= duration %></span>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="description">Description</label>
      <div class="controls">
        <span class="textarea show-field"><%= description %></span>
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <a class="link btn" href="/parties/<%=party_id%>/activities">Back</a>
      </div>
    </div>
  </fieldset>
</span>